.secao-contato {
  background-color: #F7F4F4;
  text-align: center;
  text-align: left;
}

.secao-contato__wink {
  color: #EB5757;
  font-weight: bold;
  font-size: 1.2em;
}

.secao-contato__form-fieldset {
  border: 0;
}

.secao-contato__form-legenda {
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;

  position: relative;
  left: 50%;
  transform: translateX(-50%)
}


.secao-contato__form-cta {
  width: 100%;
  margin-top: 1em;
  display: block;
  background: transparent;
  color: #B72E2E;
  border: 1px solid #B72E2E;
}

.secao-contato__form-cta:hover,
.secao-contato__form-cta:focus {
  color: #fff;
  background-color: #B72E2E;
}
